<ion-header>
    <ion-navbar>
        <ion-title>
            <ion-title><img src="assets/imgs/logo_blk.png" class="logo"><span (click)="destinopro()" class="text-white">Get Pro</span></ion-title>
        </ion-title>
    </ion-navbar>
    <div class="profile-box" >
        <ion-row padding-top>
            <ion-col col-4>
                <p class="online text-darck"><small>Online</small></p>
            </ion-col>
            <ion-col col-4 >
                <div class="profile-img">
                    <img *ngIf="user" [src]="user.photo">
                </div>
            </ion-col>
            <ion-col col-4>
                <p><small class="text-darck">400 mt away</small></p>
            </ion-col>
        </ion-row>
        <ion-row class="profile-name">
            <ion-col col-3>
                <div class="icon-img">
                    <img src="assets/imgs/ic_nope.png">

                </div>
                <h3 text-center class="text-light">Nope</h3>

            </ion-col>
            <ion-col col-6>
                <h6 class="text-ellipsis" class="text-black">{{user?.name}}</h6>
                <p class="text-ellipsis" class="text-black">{{user?.age}}, {{user?.gender}}</p>
            </ion-col>
            <ion-col col-3>
                <div class="icon-img">
                    <img src="assets/imgs/ic_wow.png">
                </div>
                <h3 text-center class="text-light">Wow</h3>
            </ion-col>
        </ion-row>
        <ion-segment [(ngModel)]="all_about">
            <ion-segment-button value="gallery" class="gallery">
                Gallery
            </ion-segment-button>
            <ion-segment-button value="about" class="about">
                About
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>

<ion-content class="bg-theme" >
    <div [ngSwitch]="all_about">
        <div *ngSwitchCase="'gallery'" class="" no-lines class="gallery">
            <ion-row>
                <ion-col col-4 *ngFor="let slide of profile" (click)="profileimg()">
                    <div class="img-box">
                        <img [src]="slide.image" class="slide-image" />
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div *ngSwitchCase="'about'" class="about" no-lines>
            <div class="text">
                <h2>About {{user?.name}}</h2>
                <p>{{user?.biod}}.</p>
            </div>
            <div class="text">
                <h2>Work</h2>
                <p>{{user?.work}}</p>
            </div>
            <div class="text">
                <h2>Interest in</h2>
                <p>{{user?.interest}}</p>
            </div>
            <div class="text">
                <h2>Hobbies</h2>
                <p><span>Travelling</span> <span>Eating</span> <span>Pointing</span> <span>Phtogrophy</span> <span>Singing</span>
                    <span>Coin Colletion</span></p>
            </div>
            <div class="text">
                <button ion-button full (click)="match()">Match</button>
            </div>
        </div>
    </div>
</ion-content>
